<foreach name="info" item="val">
    <li class="p10 bb">

        <a href="{$val['group'] == 4? U('Shop/Integral/detail',['id'=>$val['gid']])
        : U('Shop/Goods/detail',['id'=>$val['gid']])}" class="table">
            <div class="table-cell item-photo">
                <div class="ba br3 item-pic">
                    <img src="{:getpics($val['cover'])}" alt="" class="imgm">
                </div>
            </div>
            <div class="table-cell pl10 item-con">
                <h2 class="fs14 col3 multi-line">{$val.title} </h2>
                <div class="mt10 fs12 m-price">
                    <span class="colred">¥ <b class="fs15">{$val.sale_price}</b><s class="ml10 col9">¥ {$val.original_price}</s></span>
                </div>
            </div>
        </a>
    </li>
</foreach>