<switch name="checkinfo">
    <case value="1">
    <foreach name="info" item="list">
        <li class="p10 bb">
            <a href="{$list['group'] == 4? U('Shop/Integral/detail',['id'=>$list['gid']])
        : U('Shop/Goods/detail',['id'=>$list['gid']])}" class="table">
                <div class="table-cell item-photo">
                    <div class="ba br3 item-pic">
                        <img src="{:getpics($list['cover'])}" alt="" class="imgm">
                    </div>
                </div>
                <div class="table-cell pl10 item-con">
                    <h2 class="fs14 col3 multi-line">{$list.title} </h2>
                    <div class="mt10 fs12 m-price">
                        <span class="colred">¥ <b class="fs15">{$list.sale_price}</b><s class="ml10 col9">¥ {$list.original_price}</s></span>
                    </div>
                </div>
            </a>
            <a href="javascript:;" data-value="{$list.gid}" class="m-collect br3 fs12 btn-mini btn-mini_solid">取消收藏</a>
        </li>
    </foreach>
    </case>
    <case value="2">
        <foreach name="info" item="value">
          <eq name="value['check']" value="1">
            <li class="bb">
              <a href="{:U('Shop/Bulletin/detail',['id'=>$value['id']])}" class="block p10">
                <div class="fs14 col3 multi-line item-head">{$value['title']}</div>
                  <div class="ptb10 weui-row item-cont">
                    <foreach name="value['cover']" item="val">
                      <div class="weui-col-33 ba item-pic">
                        <img src="{:getpics($val)}" alt="" class="imgm">
                      </div>
                    </foreach>

                  </div>
                <div class="fs12 col9 item-foot">{$value['posttime']}前</div>
              </a>
            </li>
          <else />
            <li class="bb">
                <a href="{:U('Shop/Bulletin/detail',['id'=>$value['id']])}" class="table p10">
                  <div class="table-cell">
                    <div class="fs14 col3 multi-line item-head">
                    {$value['title']}
                    </div>
                    <div class="mt10 fs12 col9 item-foot">{$value['posttime']}前</div>
                  </div>
                  <div class="table-cell item-rt">

                    <div class="ba item-pic">
                      <img src="{:getpics($value['cover'][0])}" alt="" class="imgm">
                    </div>
                  </div>
                </a>
              </li>
          </eq>
        </foreach>
    </case>
    <default />
</switch>