<extend name="$_home_public_layout"/>
<block name="wrap">
    <section class="main">
        <ul class="list_goods list_collect"></ul>
        <div id="loading" class="tc" style="display: none"></div>
        <div class="p10 col9 fs13 tc nomore" id="full" style="display: none">
          <span class="col9">—— <i></i> ——</span>
          <p class="fs12 col9">亲，没有更多了哦~</p>
        </div>
        <div class="tc nothing" style="display: none">
            <i><img src="__HTML__/images/icon_none-order.png" alt="" class="imgm"></i>
            <span class="mt10 fs14 col9">暂无浏览产品</span>
        </div>
    </section>
    <!-- main主体 end -->
</block>
<block name="footer">

</block>
<block name="script">
    <script>
        jQuery(document).ready( function($){
            // $(document).ajaxStart(function() {
            //     $.showLoading();
            // });
            // $(document).ajaxComplete(function() {
            //     $.hideLoading();
            // });
            $(window).bind('scroll', function() {
                checkload(); //ajax 下拉加载更多内容
            });
            LoadList();
        });
        function checkload() {
            if ($(window).scrollTop() + $(window).height()+1 >= $(document).height()) {
                $("#loading").show();
                LoadList();
            }
        }
        var n = 1;
        var ispost = temp = true;
        function LoadList() {
            if (ispost && temp) {
                var url ="{:U('Member/browse')}";
                temp = false;
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {n: n},
                    timeout: 9999,
                    success: function(data) {
                        n++;
                        temp = true;
                        if(data.status){
                            if(data.msg == ''){
                                temp = false;
                                $("#full").show();
                            }else{
                                $("#loading").hide();
                                $(".list_collect").append(data.msg);
                                imgHeight();
                                temp =true;
                                imglazyload();
                                checkload();
                                // 文本更多
                                $(".m-editor").each(function() {
                                    var _this = $(this)
                                    var height = _this.height();
                                    var more = _this.find('.m-more');
                                    var len = _this.has(".m-more").length;
                                    if ( len > 0 && height > 55 ) {
                                        _this.css({'height': '55px','padding-bottom':'16px'});
                                        more.show();
                                        more.click(function() {
                                            if ( !_this.hasClass('active') ) {
                                                _this.addClass('active');
                                            } else {
                                                _this.removeClass('active');
                                            }
                                        });
                                    } else {
                                        more.hide();
                                    }
                                });
                            }
                        }else{
                            temp = false;
                            $("#loading").hide();
                            $(".nothing").show();
                        }
                        $(".lazy img").lazyload({  //图片延迟加载
                            placeholder : "html/images/loading.gif",
                            effect      : "fadeIn",
                            threshold : 200
                        });
                    }
                });
            }else if(!ispost){
                $("#full").show();
            }
        }
    </script>
</block>
