<extend name="$_home_public_layout"/>
<block name="wrap">

    <div class="top_fixed">
        <div class="table bgf bb tc fs14 tab_nav">
            <a href="javascript:;" data-value="1" class="change-type table-cell {$checkinfo == 1?'active':''}"><span>论坛</span></a>
            <a href="javascript:;" data-value="2" class="change-type table-cell {$checkinfo == 2?'active':''}"><span>商品</span></a>
            <a href="javascript:;" data-value="3" class="change-type table-cell {$checkinfo == 3?'active':''}"><span>今日头条</span></a>

        </div>
    </div>
    <section class="main">
        <ul class="bgf btb last fs13 list_comment"></ul>
        <div id="loading" class="tc" style="display: none"></div>
        <div class="p10 col9 fs13 tc nomore" id="full" style="display: none">
          <span class="col9">—— <i></i> ——</span>
          <p class="fs12 col9">亲，没有更多了哦~</p>
        </div>
        <div class="tc nothing" style="display: none">
            <i><img src="__HTML__/images/icon_none-order.png" alt="" class="imgm"></i>
            <span class="mt10 fs14 col9">暂无评论信息</span>
        </div>
        <!-- 商品评价 end -->

    </section>
</block>
<block name="footer"></block>
<block name="icon"></block>
<block name="script">
    <script>
        $(function(){
            $(window).bind('scroll', function() {
                checkload(); //ajax 下拉加载更多内容
            });
            LoadList();

            //切换
            $('.change-type').click(function(){
                checkinfo = $(this).attr('data-value');
                $('.active').removeClass('active');
                $(this).addClass('active');
                $('.list_comment').empty();
                $("#full").hide();
                $(".nothing").hide();
                n = 1;
                ispost = temp = true;
                LoadList();
            })

            $(document).on('click','.delete',function(){
                var $this =$(this);
                $.confirm('确定删除该条信息吗',function(){
                    $.ajax({
                        url:"{:U('rent_delete')}",
                        dataType:'json',
                        type:'post',
                        data:{id:$this.attr('data-value')},
                        success:function(data){
                            if(data.status){
                                $.alert(data.info,function(){
                                    location.reload(true);
                                });
                            }else{
                                $.alert(data.info);
                            }
                        },
                        error:function(){
                            $.alert('服务器请求错误');
                        }
                    });
                });
            })
        })

        function checkload() {
            if ($(window).scrollTop() + $(window).height()+1 >= $(document).height()) {
                $("#loading").show();
                LoadList();
            }
        }
        var n = 1;
        var ispost = temp = true;
        var checkinfo  = 1;
        function LoadList() {
            if (ispost && temp) {
                var url ="{:U('Member/comment')}";
                temp = false;
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {n: n,checkinfo:checkinfo},
                    timeout: 9999,
                    async:false,
                    success: function(data) {
                        n++;
                        temp = true;
                        if(data.status){
                            if(data.msg == ''){
                                temp = false;
                                $("#full").show();
                            }else{
                                $("#loading").hide();
                                $(".list_comment").append(data.msg);
                                imgHeight();
                                temp =true;
                                imglazyload();
                                checkload();
                            }
                        }else{
                            temp = false;
                            $("#loading").hide();
                            $(".nothing").show();
                        }
                        $(".lazy img").lazyload({  //图片延迟加载
                            placeholder : "html/images/loading.gif",
                            effect      : "fadeIn",
                            threshold : 200
                        });
                    }
                });
            }else if(!ispost){
                $("#full").show();
            }
        }

    </script>
</block>