<extend name="$_home_public_layout"/>
<block name="wrap">
    <section class="main">

        <div class="p10 view-head view-jifen">
            <div class="colf item-bd">
                <p class="fs14">积分总额：<b class="fs30">{$user.score}</b></p>
                <span class="mt10 fs14">您在购买时可使用{$money}元现金</span>
            </div>
        </div>

        <div class="p10 fs13 col3">积分记录</div>

        <div class="table bgf btb tc fs14 tab_nav">
            <a href="javascript:;" class="table-cell ajax_list active" data-value="1"><span>收入</span></a>
            <a href="javascript:;" class="table-cell ajax_list " data-value="2"><span>支出</span></a>
        </div>

        <div class="comm_con">
            <ul class="view-list">
            </ul>
            <div id="loading" class="tc" style="display: none"></div>
            <div class="p10 col9 fs13 tc nomore" id="full" style="display: none">
                <span class="col9">—— <i></i> ——</span>
                <p class="fs12 col9">亲，没有更多了哦~</p>
            </div>
            <div class="tc nothing" style="display: none">
                <i><img src="__HTML__/images/icon_none-order.png" alt="" class="imgm"></i>
                <span class="mt10 fs14 col9">暂无记录</span>
            </div>
        </div>
    </section>
</block>
<block name="icon"></block>

<block name="script">
    <script>
        jQuery(document).ready( function($){
            $(document).ajaxStart(function() {
                $.showLoading();
            });
            $(document).ajaxComplete(function() {
                $.hideLoading();
            });
            $(window).bind('scroll', function() {
                checkload(); //ajax 下拉加载更多内容
            });
            LoadList();
        });
        $(function(){
            $('.ajax_list').on('click',function(){
                var $this =$(this);
                if($this.hasClass('active')){
                    return false;
                }
                type =$this.attr('data-value');
                $this.addClass('active').siblings().removeClass('active');
                $(".view-list li").remove();
                $("#full").hide();
                $('.nothing').hide();
                n=1;
                ispost = temp = true;
                LoadList();
            })
        });
        function checkload() {
            if ($(window).scrollTop() + $(window).height()+1 >= $(document).height()) {
                $("#loading").show();
                LoadList();
            }
        }
        var n = 1;
        var ispost = temp = true;
        var type =1;
        function LoadList() {
            if (ispost && temp) {
                var url ="{:U('Member/score')}";
                temp = false;
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    data: {n: n,type:type},
                    timeout: 9999,
                    success: function(data) {
                        n++;
                        temp = true;
                        if(data.status){
                            if(data.msg == ''){
                                temp = false;
                                $("#full").show();
                            }else{
                                $("#loading").hide();
                                $(".view-list").append(data.msg);
                                imgHeight();
                                temp =true;
                                imglazyload();
                                checkload();
                            }
                        }else{
                            temp = false;
                            $("#loading").hide();
                            $(".nothing").show();
                        }
                        $(".lazy img").lazyload({  //图片延迟加载
                            placeholder : "html/images/loading.gif",
                            effect      : "fadeIn",
                            threshold : 200
                        });
                    }
                });
            }else if(!ispost){
                $("#full").show();
            }
        }
    </script>
</block>