<extend name="$_home_public_layout"/>
<block name="wrap">

    <notempty name="cart_num">

  <div class="foot_fixed buycart_submit" >
    <dl class="table bgf item-settle">
      <dd class="table-cell vm pl10 weui_cells_checkbox" style="width:22%;">
        <label class="weui_check_label block" for="all_buy">
          <input type="checkbox" checked="checked" class="weui_check" name="check_all_buy" id="all_buy">
          <i class="weui_icon_checked block fs14">全选</i>
        </label>
      </dd>
      <dd class="table-cell vm pl10">
       <p class="fs14 col3">合计：<b class="fs16 col_own total-price">¥0</b></p>
       <P class="col9">（不含运费）</P>
      </dd>
      <dt class="table-cell vm tc">
        <a href="javascript:;" id="to-order" class="bg_own fs16 colf btn-block">去结算</a>
      </dt>
    </dl>
  </div>

  <div class="foot_fixed buycart_edit" >
    <dl class="table bgf item-settle">
      <dd class="table-cell vm pl10 weui_cells_checkbox">
        <label class="weui_check_label block" for="all_del">
          <input type="checkbox" class="weui_check" name="check_all_del" id="all_del">
          <i class="weui_icon_checked block fs14">全选</i>
        </label>
      </dd>
      <dt class="table-cell vm tc">
        <a href="javascript:;" id="delete-list" class="bg_own fs16 colf btn-block">删除</a>
      </dt>
    </dl>
  </div>
  </notempty>
  <section class="main">
    <form action="{:U('Cart/confirm_pay', ['action'=>'fromcart'])}" method="POST" name="gotopay">
      <ul class="plr10 bb bgf last weui_cells_checkbox buycart ajax_list"></ul>
      <input type="hidden" name="action" value="fromcart">
    </form>
    <div id="loading" class="tc" style="display: none"></div>
    <div class="tc nothing step0 step" style="display: none;">
      <i><img src="__HTML__/images/icon_none-order.png" alt="" class="imgm"></i>
      <span class="mt10 fs14 col9">暂无商品，快去购物吧！</span>
    </div>
    <div class="p10 col9 fs13 tc nomore" id="full" style="display: none">
      <span class="col9">—— <i></i> ——</span>
      <p class="fs12 col9">亲，没有更多了哦~</p>
    </div>
    <!-- 购物车列表 end -->

    <div class="mt10 p10 index_title">
      <p class="tc fs15 col3"><i class="mr5"><img src="__HTML__/images/icon_index_title3.png" alt="" class="imgm"></i>为你推荐</p>
    </div>

    <ul class="weui-row list_goods" style="margin-bottom: 40px;">
      <foreach name="rec_list" item="val">
      <li class="weui-col-50 mb10">
        <a href="{:U('Shop/Goods/detail',['id'=>$val['id']])}" class="block ba bgf">
          <div class="item-pic">
            <img src="{:getpics($val['cover'])}" alt="" class="imgm">
          </div>
          <div class="p5 bt item-con">
            <p class="fs14 col3 multi-line">{$val['title']}</p>
            <div class="fs12">
              <span class="fs13 colred">¥<em class="fs16">{$val['seckill_price']?$val['seckill_price']:$val['sale_price']}</em></span>
              <del class="ml10 col9">¥{$val['original_price']}</del>
            </div>
          </div>
        </a>
      </li>
      </foreach>
    </ul>
    <notempty name="cart_num">
      <a href="javascript:;" class="bgf ba br5 tc col9 buy_set" >
        <i class="Ico-set"></i><em>编辑</em>
      </a>
    </notempty>
  </section>
  <!-- main主体 end -->
</block>
  <block name="footer"></block>

<block name="script">
  <script>

    $(function(){
      //axaj 加载
      $(window).bind('scroll', function() {
          checkload(); //ajax 下拉加载更多内容
      });
      //初始化加载数据
      LoadList();
      //去结算
      $(document).on('click','#to-order',function(){
        if ($('.ajax_list .weui_check:checked').length) {
          $('form[name=gotopay]').submit();
        } else {
          $.toptip('请至少选择一件商品，方可结算', 'error');
        }
        return false;
      })

      //删除
      $(document).on('click','#delete-list',function() {
        $.confirm("确认删除", function() {
          var ids = [];
          $("input[name='checkbox[]']:checked").each(function(){
            ids.push($(this).attr('id'));
          })
          if(ids.length <= 0 ){
            $.toast('请选择商品','text');
            return false;
          }
          deleteCartGoods(ids);
        }, function() {
        //点击取消后的回调函数
        });
      });


      // 购物车页中 物品数量 +-
      $(document).on("click",".buy_num .plus",function() {
        $this = $(this);
        var id = $this.parents('li').find("input[name='checkbox[]']").attr('id');
        var sec = $this.parents('li').find("input[name='checkbox[]']").attr('data-value');
        var v = parseFloat($this.next().val())+1;

        if(sec > 0 && v > sec ){
          $.toast('库存不足！','text');
          return false;
        }
        changeGoodsNum(id,v,sec);
        $this.next().val(v);
        getPriceTotal();
      });

      $(document).on("click",".buy_num .minus",function() {
        $this = $(this);
        var id = $this.parents('li').find("input[name='checkbox[]']").attr('id');
        var sec = $this.parents('li').find("input[name='checkbox[]']").attr('data-value');
        var v = parseInt($this.prev().val())-1;
        if(v>0){
          $this.prev().val(v);
          changeGoodsNum(id,v,sec);
          getPriceTotal();
        }
      });

      $(document).on("blur",'.goodsnum',function(){


        $this  = $(this);
        var v =  $this.val();
        if(v<=0){
          v ='1';
        }
        v =  v.replace(/[^\d]/g, '');
        v =  v.replace(/^0+/, '');
        $this.val(v);

        var id = $this.parents('li').find("input[name='checkbox[]']").attr('id');
        var sec = $this.parents('li').find("input[name='checkbox[]']").attr('data-value');
        changeGoodsNum(id,v,sec);
        getPriceTotal();
      })


      //购物车单选
      $(document).on('click', 'li .weui_check', function(){
        getPriceTotal();
      });
      // 购物车-全选
      $(".item-settle .weui_check_label").on('click',function(){
        getPriceTotal();
        var $this = $(this).find(".weui_check");
        if(!$this.is(":checked")){
          $this.prop({checked:true});
          $(".buycart .weui_check").prop({checked:true});
        }else{
          $this.prop({checked:false});
          $(".buycart .weui_check:checked").prop({checked:false});
        }
      });

      //图片限制
      $(".list_goods .item-pic").each(function(){
        var w = $(this).width();
        $(this).css({"height": w});
      });
      // 购物车-底部功能切换
      $(".buy_set").click(function(){
        if (!$(this).hasClass('on')) {
          $(this).addClass("on");
          $(this).find("em").html("完成");
          $(".buycart_submit").slideUp();
          $(".buycart_edit").slideDown();
          $(".weui_check:checked").prop({checked:false});
        } else {
          $(this).removeClass("on");
          $(this).find("em").html("编辑");
          $(".buycart_edit").slideUp();
          $(".buycart_submit").slideDown();
          $(".weui_check:checked").prop({checked:false});
           $('.total-price').html('¥0');
        }
      });
    });

    function checkload() {
      if ($(window).scrollTop() + $(window).height()+1 >= $(document).height()/2) {
        $("#loading").show();
        LoadList();
      }
    }

    var n = 1;
    var ispost = temp = true;
    function LoadList()
    {
      if (ispost && temp) {
        var url ="{:U('Shop/Cart/index')}";
        temp = false;
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {n: n},
            timeout: 9999,
            beforeSend:function(){
              // $.showLoading();
            },
            success: function(data) {
                n++;
                temp = true;
                if(data.status){
                    if(data.msg == ''){
                        temp = false;
                        $("#full").show();
                    }else{
                        $("#loading").hide();
                        $(".ajax_list").append(data.msg);
                        imgHeight();
                        temp =true;
                        imglazyload();
                        checkload();
                    }
                }else{
                    temp = false;
                    $("#loading").hide();
                    $(".step0").show();
                }
                $(".lazy img").lazyload({  //图片延迟加载
                    placeholder : "html/images/loading.gif",
                    effect      : "fadeIn",
                    threshold : 200
                });
            },
            complete:function(){
              getPriceTotal();

              // $.hideLoading();
            }
          });
      }else if(!ispost){
          $("#full").show();
      }
    }
    //获取总价
    function getPriceTotal()
    {
      var priceTotal =0;
      $("input[name='checkbox[]']:checked").each(function(){
        var num = $(this).parents('li').find(".goodsnum").val();
        var price = $(this).parents('li').find('span').text();
        priceTotal += parseInt(num)*parseFloat(price);
      })

      $('.total-price').html('¥'+priceTotal.toFixed(2));
    }
    //删除购物车商品
    function deleteCartGoods(ids)
    {
      $.ajax({
        url:"{:U('Shop/Cart/delete')}",
        type:'POST',
        data:{ids:ids},
        dataType:'json',
        beforeSend:function(){
          $.showLoading();
        },
        success:function(data){
          if(data.status){
            $('.ajax_list').empty();
            $("#full").hide();
            $(".step0").hide();
            n = 1;
            ispost = temp = true;
            LoadList();
          }else{
            $.alert(data.info)
          }
        },
        complete:function(){
          $.hideLoading();
        },
        error:function(){

        }
      })
    }
    //改变购物车中商品数量
    function changeGoodsNum(cid,num,sec)
    {
      var change_num_url = "{:U('Shop/Cart/changeGoodsNum')}";
      $.ajax({
        url:change_num_url,
        type:'POST',
        data:{cid:cid,num:num,sec:sec},
        dataType:'json',
        async:false,
        beforeSend:function(){
          $.showLoading();
        },
        complete:function(){
          $.hideLoading();
        },
        success:function(data){
        },
        error:function(){
        }
      })
    }

  </script>
</block>