<extend name="$_home_public_layout"/>
<block name="wrap">
<div class="web_index_main">
  <div class="top_fixed search_fixed">
    <div class="plr10 box search_header search_bg" style="cursor: pointer">
    <a href="javascript:;" class="sH_classify">分类</a>
      <div class="bgf br50 flex-1 sH_main">
        <a href="javascript:;" class="block col9 sH_search"><i class="icon_search"></i>输入您想要的商品</a>
      </div>
      <empty name="uid">
      <a href="{:U('Home/Member/login')}" class="sH_login">登录</a>
      <else/>
      <a href="javascript:;" class="sH_login">　</a>
      </empty>
    </div>
  </div>
  <!-- 顶部悬浮搜索 end -->

  <div class="search_classify" >
    <div class="item-bg" style="cursor: pointer"></div>
    <div class="item-con" style="cursor: pointer">
      <ul class="clearfix">
        <foreach name="type" item="val">
          <li class="bb"><a href="{:U('Shop/Goods/index',['pid'=>$val['id']])}" >{$val['title']}</a></li>
        </foreach>
      </ul>
    </div>
  </div>

  <section class="main">

    <div class="swiper-container banner">
      <div class="swiper-wrapper">
        <foreach name="banner" item="val">
            <div class="swiper-slide">
              <a href="{$val['url']?$val['url']:'javascript:;'}">
                <img src="{:getpics($val['cover'])}" alt="2:1,640*320" class="imgm">
              </a>
            </div>
        </foreach>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- banner end -->
    <notempty name="column">
      <div class="clearfix pt10 btb bgf tc fs12 nav_index">
        <foreach name="column" item="column_list">
          <a href="{$column_list['url']? $column_list['url']:'javascript:;'}" class="mb10">
            <img src="{:get_cover($column_list['cover'])}" alt="" class="imgm">
            <p class="mt5 col6">{$column_list.title}</p>
          </a>
        </foreach>
      </div>
    </notempty>


    <div class="table mt10 p10 btb bgf bt scroll_news">
      <div class="table-cell vm pr10 item-hd"><img src="__HTML__/images/icon_scrollnews_n.png" alt="" class="imgm"></div>
      <div class="table-cell vm plr10 bl item-lt"><img src="__HTML__/images/icon_scrollnews2.png" alt="" class="imgm"></div>
      <div class="table-cell vm">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <foreach name="bulletin" item="val">
              <a href="{:U('Shop/Bulletin/detail',['id'=>$val['id']])}" class="swiper-slide single-line col_own">{$val['title']}</a>
            </foreach>
          </div>
        </div>
      </div>
    </div>

    <!-- 今日头条 end -->
    <?php if(!empty($seckill) && !empty($seckill_goods)): ?>
      <div class="mt10 btb bgf index_seckill">
        <div class="clearfix p10 item-hd">
          <div class="fl item-lt" style="width: 80px; padding-right: 10px;">
            <img src="__HTML__/images/icon_seckill_n.png" alt="" class="imgm">
          </div>
          <span class="fl plr10 fs13 col9 ml10">{$seckill['title']}<!--：{$seckill['remark']}--></span>
          <div class="fl fs12 col3 item-down">
            <em>00</em> : <em>00</em> : <em>00</em>
          </div>
          <a href="{:U('Shop/Goods/seckill_list',['id'=>$seckill['id']])}" class="fr fs12 col_own">限时限量</a>
        </div>
        <div class="swiper-container bt tc item-bd">
            <div class="swiper-wrapper">
          <foreach name="seckill_goods" item="val">
              <a href="{:U('Shop/Goods/detail',['id'=>$val['id']])}" class="swiper-slide p10 br">
                <div class="item-pic"><img src="{:getpics($val['cover'])}" alt="" class="imgm"></div>
                <p class="fs13 col3 single-line">{$val['title']}</p>
                <span class="mt5 fs12 item-price">￥{$val['seckill_price']}</span>
              </a>
          </foreach>
            </div>
        </div>
      </div>
    <?php endif; ?>
    <!-- 秒杀 end -->

    <div class="mt10 btb bgf fs13 col3 table index_menu">
      <a href="{:U('Shop/Ad/index')}" class="table-cell item-lt">
        <img src="{:getpics($ad[0]['cover'])}" alt="" class="imgm">
      </a>
      <div class="table-cell bl item-rt">
        <a href="{:U('Shop/Ad/ad')}" class="block">
          <img src="{:getpics($ad[1]['cover'])}" alt="" class="imgm">
        </a>
        <a href="{$ad[2]['url']}" class="block bt">
          <img src="{:getpics($ad[2]['cover'])}" alt="" class="imgm">
        </a>
      </div>
    </div>
    <!-- 广告 end -->

    <foreach name="columnsInfo" item ='columns'>
      <a href="{$columns['url']?:'javascript;'}" class="block mt10 btb">
        <img src="{:getpics($columns['cover'])}" alt="" class="imgm">
      </a>
      <div class="mt10 p10 btb bgf index_title">
        <p class="tc fs15 col_own"><i class="mr5"><img src="{:getpics($columns['icon'])}" alt="" class="imgm"></i>{$columns['title']}</p>
      </div>
      <ul class="weui-row list_goods">
        <foreach name="columns.goods" item="goodsInfo">
          <li class="weui-col-50 mt10 relative">
            <a href="{:U('Shop/Goods/detail',['id'=>$goodsInfo['id']])}" class="block  bgf">
              <div class="item-pic"><img src="{:getpics($goodsInfo['cover'])}" alt="" class="imgm"></div>
              <div class="p5  item-con">
                <p class="fs13 col3 multi-line">{$goodsInfo['title']}</p>
                <div class="fs12">
                  <span class="fs13 colred">¥<em class="fs16">{$goodsInfo['seckill_price']?$goodsInfo['seckill_price']:$goodsInfo['sale_price']}</em></span>
                  <del class="ml10 col9">¥{$goodsInfo['original_price']}</del>
                </div>
              </div>
            </a>
            <a href="javascript:;" class="to-cart" data-value="{$goodsInfo['id']}"><img  src="__HTML_IMG__/to-cart.png" alt="" class="block"></a>
          </li>
        </foreach>
      </ul>
    </foreach>
      <!-- 栏目 end -->

    <div class="mt10 p10 btb bgf tc" >
      <span class="fs14 col3">{:C('WEB_SITE_TITLE')}</span>
      <p class="fs12 col3">全国统一客服热线 <a href="tel:{$shop_mobile}">{$shop_mobile}</a></p>
      <p class="fs12 col3"> <a href="javascript:;">{:C("WEB_SITE_COPYRIGHT")}</a></p>
    </div>
    <div class="p10 col9 fs13 tc nomore" id="full" style="margin-bottom:60px;">
      <span class="col9">—— <i></i> ——</span>
      <p class="fs12 col9">亲，没有更多了哦~</p>
    </div>
  </section>
  <!-- main主体 end -->
</div>
  <section class="spec-wrap popup-wrap" style="display: none;"></section>
<!-- 搜索定位弹窗 end -->
</block>

<block name="reply_wrap">
  <section class="search_wrap" style="z-index:2;">
    <dl class="table bb header">
      <dd class="table-cell vm">
        <a href="javascript:;" class="back"></a>
      </dd>
      <dt class="table-cell vm">
        <input type="text" value="" name="search" placeholder="请输入搜索的关键词" >
      </dt>
      <dd class="table-cell vm">
        <input type="submit" value="搜索">
      </dd>
    </dl>
    <div class="p10 search_main">
      <div class="fs13 item-tit">
        <i class="mr5 sm-1"></i>最近搜索
        <a href="javascript:;" id="clean-search" class="fr">
          <notempty name="user_search_info">
            <i class="sm-3"></i>
          </notempty>
        </a>
      </div>
      <div class="ptb10 item-con user-search">
        <notempty name="user_search_info">
        <foreach name="user_search_info" item="val">
          <a href="{:U('Shop/Goods/goods_list',['search_kw'=>$val])}"  class="btn-mini search-kw">{$val}</a>　
        </foreach>
        <p align="center" class="no-user-search" style="font-size:12px;display:none;">暂无搜索历史</p>
        <else />
          <p align="center" style="font-size:12px;">暂无搜索历史</p>
        </notempty>
      </div>

      <div class="fs13 item-tit">
        <i class="mr5 sm-2"></i>热门搜索
      </div>
      <div class="ptb10 item-con">
        <foreach name="shop_search_info" item="val">
          <a href="{:U('Shop/Goods/goods_list',['search_kw'=>$val['word']])}" class="btn-mini search-kw">{$val['word']}</a>　
        </foreach>
      </div>
    </div>
  </section>
</block>
<block name="icon">
  <div class="handle_fixed">
      <a href="{:U('Shop/Cart/index')}" class="ba brarc"><i class="hf-1"></i></a>
     <!-- <a href="{:U('Shop/Index/index')}" class="ba brarc"><i class="hf-2"></i></a>
      <a href="{:U('Shop/Goods/index')}" class="ba brarc"><i class="hf-3"></i></a>-->
      <a href="javascript:;" class="ba brarc to_top"><i class="hf-4"></i></a>
  </div>
</block>

<block name="script">
  <script src="__HTML__/weui/js/swiper.js"></script>
  <script>
    $(function(){
      //清空数据存储
      sessionStorage.removeItem('aGoodsList');
      sessionStorage.removeItem('aGoodsParam');
      //====加入购物车Start
      $(document).on('click','.to-cart',function(){
        var id = $(this).attr('data-value');
        getGoodsItemHtml(id);
      })
      //隐藏
      $(document).on('click','.popup-overlay',function(){
        $('.spec-wrap').empty();
        $('.spec-wrap').hide();
      });

      //====加入购物车END

      //输入搜索
      $(':submit').click(function(){
        search_kw = $("input[name='search']").val();
        if(!search_kw){
          $.toast('请输入关键词','text');
          return false;
        }
        location.href="{:U('Shop/Goods/goods_list/search_kw/\"+search_kw+\"')}";
      })
        //清除最近搜索
      $('#clean-search').click(function(){
        Cookies.set('{$Think.const.ENV_PRE}home_user_search','');
        $('#clean-search i,sm-3').remove();
        $('.user-search a').remove();
        $('.no-user-search').show();
      })

      //秒杀倒计时
      var endTime = "{$seckill['count_time']}";
      if(endTime !== null ){
        setInterval(function(){
          countDown(endTime);
        },1000);
      }

      //轮播
      var swiperWidth = $(".banner").width();
      swiperHeight = swiperWidth * 0.5;
      $(".banner").css("height",swiperHeight);
      $(".banner").swiper({
        pagination: '.swiper-pagination',
        loop: true,
        autoplay: 3000,
        autoplayDisableOnInteraction : false,
      });

      //头条
      $(".scroll_news .swiper-container").swiper({
        direction: 'vertical',
        pagination: '',
        slidesPerView: 1,
        height: 24,
        loop: true,
        autoplay: 3000,
        autoplayDisableOnInteraction : false,
      });

      //秒杀
      var swiper = new Swiper('.index_seckill .swiper-container', {
        pagination: '',
        slidesPerView: 3,
        paginationClickable: true,
        freeMode: true
      });

      //频道 js
      $(document).on('click', '.search_header .sH_classify', function() {
        if ( !$(this).hasClass('on') ) {
          $(this).addClass('on');
          $('.search_classify').show();
          $('.search_classify .item-con').slideDown('fast');
        } else {
          $(this).removeClass('on');
          $('.search_classify .item-con').slideUp();
          $('.search_classify').hide();
        }
      });
      $(document).on('click', '.search_classify .item-bg', function() {
        $('.search_header .sH_classify').removeClass('on');
        $('.search_classify .item-con').slideUp();
        $('.search_classify').hide();
      });
      $(document).on('click','.search_classify .item-con',function(){
        $(this).removeClass('on');
        $('.search_header .sH_classify').removeClass('on');
        $('.search_classify .item-con').slideUp();
        $('.search_classify').hide();
      })

      //搜索js
      $(document).on('click','.search_header .sH_search',function() {
        $(".wrap").hide();
        $(".search_wrap").show();
      });
      $(document).on('click','.header .back',function() {
        $(".wrap").show();
        $(".search_wrap").hide();
      });
      //栏目
      $(".list_goods .item-pic").each(function(){
        var w = $(this).width();
        $(this).css({"height": w});
      });
    });

    //秒杀倒计时
    function countDown(endTime)
    {
      var date = new Date();
      var nowTime = Date.parse(date)/1000;
      countTime = endTime - nowTime;
      if(countTime>0){
        var hours = parseInt(countTime/3600);
        var minutes = parseInt((countTime-hours*3600)/60);
        var seconds = countTime % 60;
      }else{
        var hours = 0;
        var minutes = 0;
        var seconds = 0;
      }


      if(hours<10){
        hours = '0'+hours;
      }
      if(minutes<10){
        minutes = '0'+minutes;
      }
      if(seconds<10){
        seconds = '0'+seconds;
      }
      $(".item-down em").eq(0).html(hours);
      $(".item-down em").eq(1).html(minutes);
      $(".item-down em").eq(2).html(seconds);
    }

    //获取规格html
    function getGoodsItemHtml(id)
    {
      $.ajax({
        url:"{:U('Shop/Goods/item_detail')}",
        type:'POST',
        data:{id:id},
        async:false,
        dataType:'json',
        beforeSend:function(){},
        complete:function(){},
        error:function(){},
        success:function(data){
          if(data.status){
            $('.spec-wrap').append(data.html);
            //展示
            $('.spec-wrap').show();
            // $('html,body').css({'height': '100%', 'overflow': 'hidden'});
          }else{
            $.alert('数据异常');
          }
        }
      })
    }


  </script>
</block>