<extend name="$_home_public_layout"/>
<block name="footer"></block>
<block name="wrap">
  <section class="main">

<!--     <div class="p10 bg_own">
      <p class="tc fs16 colf">热销排行榜</p>
    </div> -->
    <a href="" class="block">
      <img src="{:getpics($pagepic)}" alt="" class="imgm">
    </a>

<!--     <div class="p5 ad_title">
      <h3 class="tc fs13">年度排行TOP10<br>【值】</h3>
    </div> -->
    <ul class="weui-row list_goods">
    <foreach name="goods_info" item="val">
      <li class="weui-col-50 mt10">
        <a href="{:U('Shop/Goods/detail',['id'=>$val['id']])}" class="block ba bgf">
          <div class="item-pic"><img src="{:getpics($val['cover'])}"  class="imgm"></div>
          <div class="p5 bt item-con">
            <p class="fs14 col3 multi-line">{$val['title']}</p>
            <div class="fs12">
              <span class="fs13 colred">¥<em class="fs16">{$val['sale_price']}</em></span>
              <del class="ml10 col9">¥{$val['original_price']}</del>
            </div>
          </div>
        </a>
      </li>
    </foreach>
    </ul>

    <div class="p10 tc nomore">
      <span class="col9">—— <i></i> ——</span>
      <p class="fs12 col9">亲，没有更多了哦~</p>
    </div>

    <div class="handle_fixed">
      <a href="{:U('Shop/Cart/index')}" class="ba brarc"><i class="hf-1"></i></a>
      <a href="{:U('Shop/Index/index')}" class="ba brarc"><i class="hf-2"></i></a>
      <a href="{:U('Shop/Goods/index')}" class="ba brarc"><i class="hf-3"></i></a>
      <a href="javascript:;" class="ba brarc"><i class="hf-4"></i></a>
    </div>

  </section>
  <!-- main主体 end -->
</block>

<block name="script">
  <script>
    $(function() {

      //到顶部
      $('.hf-4').click(function(){
          var speed=200;
          $('body,html').animate({ scrollTop: 0 }, speed);
          return false;
      })

      $(".list_goods .item-pic").each(function(){
        var w = $(this).width();
        $(this).css({"height": w});
      });
    });
  </script>
</block>