  <extend name="$_home_public_layout"/>
<block name="wrap">
<div class="foot_fixed">
    <dl class="table tc goods_buy">
      <dt class="table-cell br"><a href="http://wpa.qq.com/msgrd?v=3&uin={:C('qq_number')}&site=qq&menu=yes" class="fs12 col6  gbuy-2 ">客服</a></dt>
      <dt class="table-cell br"><a href="{:U('Shop/Index/index')}" class="fs12 col6 gbuy-1">首页</a></dt>
      <dt class="table-cell"><a href="{:U('Shop/cart/index')}" class="fs12 col6 gbuy-3 hint-num">购物车</a></dt>
      <dd class="table-cell"><a href="javascript:;" id="addtocart" class="fs16 colf gbuy-4">加入购物车</a></dd>
      <dd class="table-cell"><a href="javascript:;" id="pay-now" class="fs16 colf gbuy-5">立即购买</a></dd>
    </dl>
  </div>
  <!-- 底部悬浮 end -->

  <section class="main">
    <div class="swiper-container detail_ban">
      <div class="swiper-wrapper">
        <foreach name="banner" item="val">
          <div class="swiper-slide">
            <img src="{:getpics($val)}" alt="3:2,640*427" class="imgm">
          </div>
        </foreach>
      </div>
      <notempty name="coupons_str_info">
      <span class="youhui-tag">优惠券</span>
      </notempty>
      <div class="swiper-pagination"></div>
    </div>
    <!-- detail_ban end -->

    <div class="p10 btb bgf detail_info">
      <dl class="table item-hd">
        <dt class="table-cell vt">
          <h2 class="fs14 col3">{$goods_list['title']}</h2>
          <p class="fs12 colred">{$goods_list['subtitle']}</p>
        </dt>
        <dd class="table-cell vt">
          <a href="javascript:;" class="fr bl fs12 like {$check_on}">收藏</a>
        </dd>
      </dl>
      <div class="fs12 col9 m-price">
        <span class="mt5 item-more">已售：{$goods_list['sales_volume']}</span>
        <b class="fs16 colred">¥ <em class="fs24">{$seckill['seckill_price']?$seckill['seckill_price']:$goods_list['sale_price']}</em></b><s class="ml10">¥{$goods_list['original_price']}</s>
      </div>
      <notempty name="seckill['count_time']">
        <div class="tr fs13 col6">
          {$seckill['subtitle']} <span class="fs12 countdown"><em class="br3">00</em> : <em class="br3">00</em> : <em class="br3">00</em></span>
        </div>
      </notempty>
      <notempty name="coupons_str_info">
        <div class="table-cell item-lt vt">促销</div>
        <div class="table-cell">
          <p class="fs12 col6 mt5">　{$coupons_str_info}</p>
        </div>
    </notempty>
    </div>
    <ul class="mt10 btb last fs14 col3 detail_extra">
      <li class="table bgf p10">
        <div class="table-cell item-lt vt col9">送至</div>
        <div class="table-cell">
          <p class="fs13 col0" id="address"></p>
          <p class="fs12 col9 mt10"><i class="Icon-time"></i>{$goods_list['explain']}</p>
        </div>
      </li>
      <li class="table bgf p10 bb" style="margin-top: -10px;">
        <div class="table-cell item-lt vt col9">运费</div>
        <div class="table-cell">
          <p class="fs13 col0">满{$postage['postage_free']}包邮（10kg内）</p>
        </div>
      </li>
      <li class="mt10 bgf table p10 bb">
        <div class="table-cell item-lt col9">积分</div>
        <div class="table-cell">
          <p class="fs13 col0">购买可得{$goods_list['back_integral']}积分</p>
        </div>
      </li>
      <li class="p10 fs13 bg-f0 bb">
        <span class="detail-tag">正品保证</span>
        <span class="detail-tag">极速发货</span>
        <span class="detail-tag">15天退换</span>
     <!--   <span class="detail-tag">中华参科技开发有限公司&售后</span>-->
      </li>
      <notempty name="spec_items">
        <li class="table bgf p10 bb spec_show">
          <div class="table-cell item-lt ">已选</div>
          <a href="javascript:;" class="table-cell spec-btn arrowR">
            <p class="fs13 col9" id="spec_true_name"></p>
          </a>
        </li>
      </notempty>
    </ul>
    <notempty name="review_num">
    <div class="mt10 bgf btb detail_eval">
      <div class="p10 bb item-tit">
        <span class="fr col9">共{$review_num}条评论</span>
        <span class="fs15 col3">商品评价</span>
      </div>
      <ul class="list_eval">
        <foreach name="review_info" item="val">
        <li class="p10 bb">
          <div class="clearfix item-hd">
            <div class="fl ba brarc item-pic"><img src="{$val['headimgurl']}" alt="" class="imgm"></div>
            <span class="fl plr10">{$val['nickname']}</span>
            <div class="fl star-show" data-score="{$val['rating']}"></div>
            <p class="fr col9">{:date('Y-m-d',strtotime($val['create_time']))}</p>
          </div>
          <div class="mt5 fs14 col3 item-bd">{$val['content']}</div>
          <notempty name="val['reply']">
            <div class="mt10 fs12 col6 box item-foot" style="margin-left: 0px">
              <span>中华参科技开发有限公司：</span>
              <p class="flex-1">{$val['reply']}</p>
            </div>
          </notempty>
        </li>
        </foreach>
      </ul>
      <gt name="review_num" value="2">
      <a href="{:U('Shop/Goods/review_list',['gid'=>$goods_list['id']])}" class="block p5 tc fs13 col3">查看全部评论</a>
    </gt>
    </div>
  </notempty>
    <!-- 商品评价 end -->

    <div class="p10 fs15 col3">猜你喜欢</div>
    <ul class="weui-row list_goods">
    <foreach name="youlike" item="val">
      <li class="weui-col-50">
        <a href="{:U('Shop/Goods/detail',['id'=>$val['id']])}" class="block ba bgf">
          <div class="item-pic"><img src="{:getpics($val['cover'])}" alt="" class="imgm"></div>
          <div class="p5 bt item-con">
            <p class="fs14 col3 multi-line">{$val['title']}</p>
            <div class="fs12">
              <span class="fs13 colred">¥<em class="fs16">{$val['sale_price']}</em></span>
              <del class="ml10 col9">¥{$val['original_price']}</del>
            </div>
          </div>
        </a>
      </li>
    </foreach>
    </ul>

    <div class="table mt10 bgf btb tc fs14 detail_nav">
      <a href="javascript:;" class="table-cell active"><span>商品介绍</span></a>
    <!--  <a href="javascript:;" class="table-cell"><span>规格参数</span></a>-->
      <a href="javascript:;" class="table-cell"><span>售后保障</span></a>
    </div>
    <div class="p10 bb bgf detail_wrap">
      <div class="detail_main">
        <article class="fs12 col3 m-editor">
         {$goods_list['description']}
        </article>
      </div>
     <!-- <div class="detail_main">
        <article class="fs12 col3 m-editor">
         {$goods_list['spec']}
        </article>
      </div>-->
      <div class="detail_main">
        <article class="fs12 col3 m-editor">
         {$goods_list['aftersale']}
        </article>
      </div>
    </div>

  </section>
  <!-- main主体 end -->
  <section class="spec-wrap popup-wrap" style="display: none;">
    <div class="popup-overlay"></div>
    <div class="popup-content">
      <ul class="list_goods mt10">
        <li class="p10 btb bgf">
          <a href="javascript:;" class="table">
            <div class="table-cell item-photo">
              <div class="ba br3 item-pic">
                <img src="{:getpics($goods_list['cover'])}" alt="" class="imgm">
              </div>
            </div>
            <div class="table-cell pl10 item-con">
              <h2 class="fs13 col3 multi-line">{$goods_list['title']} </h2>
              <div class="mt5 fs12 m-price">
                <span class="colred">¥ <b class="fs15" id="spec_price">{$seckill['seckill_price']?$seckill['seckill_price']:$goods_list['sale_price']}</b><!--<em class="ml10 fs12 col9">好评：99%</em>--></span>
                <!-- <em class="item-more"><img src="images/to-cart.png" style="width:30px" alt="" class="block"></em> -->
              </div>
            </div>
          </a>
        </li>
      </ul>
      <notempty name="spec_items">
          <div class="bb p10 bgf col3 fs13">
            <foreach name="spec_items" item="spec">
              <p>{$spec.name}</p>
              <notempty name="spec['items']">
                  <div class="radio-spec spec_item">
                   <p style="display: none" class="spec_name">{$spec.name}</p>
                    <volist name="spec['items']" id="vo">
                        <label for="spec{$vo.item_id}" class="opt-label">
                          <input type="radio" class="opt-check specs_check" name="goods_spec[{$spec['id']}]" data-spec_id="{$spec['id']}" id="spec{$vo.item_id}" value="{$vo['item_id']}" <eq name="i" value="1">checked</eq> >
                          <span class="opt-checked">{$vo.item}</span>
                        </label>
                    </volist>
                  </div>
              </notempty>
            </foreach>
          </div>
      </notempty>
        <form action="{:U('Cart/confirm_pay')}" id="goods_form" method="post">
      <div class="bb p10 fs13 bgf col0 box flex-between" style="padding-bottom:60px;">
          <span>购买数量</span>
          <div class="bgf tc fs14 buy_num mb10">
            <i class="fr plus">+</i>
            <input name="goodsnum" type="tel" class="fr tc value" value="1">
            <i class="fr minus">-</i>
            <input type="hidden" name="s" value="/Shop/Order/confirm">
            <input type="hidden" name="action" value="buynow">
            <input type="hidden" name="key" id="goods_key">
            <input type="hidden" name="ids" id="goods_id" value="{$goods_list['id']}">
          </div>
      </div>
        </form>
        <a href="javascript:;" class="bg_own btn-block">确定</a>
    </div>
  </section>
</block>

<block name="footer"></block>
<block name="icon"></block>

<block name="script">
<script src="__HTML__/weui/js/swiper.js"></script>
<script src="__HTML__/js/jquery.raty.min.js"></script>
<script src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
<script>
  choose_type =0; //1 :购物车  2： 立即购买
  var filter_spec = '{:json_encode($spec_items, JSON_UNESCAPED_UNICODE)}';
  var spec_goods_price = '{:json_encode($spec_goods_price, JSON_UNESCAPED_UNICODE)}';
  var spec_goods_price1 ='{:json_encode($spec_goods_price, JSON_UNESCAPED_UNICODE)}';
  var seckill_price ="{$seckill['seckill_price']?$seckill['seckill_price']:0}";
  var spec_item_ids = [];
  var usable_items = {};
  var cart_url = "{:U('Shop/Cart/cart_num')}";
  var def_price ="{$goods_list['sale_price']}";
  var key = '';
  var geolocation = new qq.maps.Geolocation("OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77", "myapp");
  var positionNum = 0;
  var options = {timeout: 8000};



  $(function() {
    //获取地址
    getCurLocation();
    get_price();
    //购物车数量 初始化
    var uid = {$uid};
    if(uid){
      getCartNum(cart_url,1);
    }

    // 购物车页中 物品数量 +-
    $(document).on("click",".buy_num .plus",function() {
      $this = $(this);
      var v = parseInt($this.next().val());
      if(!v){
        v = 0;
      }
      v = v+1;

      var stock =$("input[name='stock']").val();
      if(stock > 0 && v > stock){
        $.toast('库存不足！','text');
        return false;
      }
      $this.next().val(v);
    });
    $(document).on("click",".buy_num .minus",function() {
      $this = $(this);
      var v = parseInt($this.prev().val());
      if(!v){
        v = 2;
      }
      v = v-1;
      if(v>0){
        $this.prev().val(v);
      }
    });
    $(document).on('blur','[name=goodsnum]',function(){
      var goodsnum = $(this).val();
      if(goodsnum<=0){
        goodsnum ='1';
      }
      goodsnum =  goodsnum.replace(/[^\d]/g, '');
      goodsnum =  goodsnum.replace(/^0+/, '');

      $(this).val(goodsnum);
    })
    if($(".specs_check").length>0){
      var spec_true_name1='';
      var spec_true_name =get_select_spec();
      $.each(spec_true_name,function(m,t){
        var spec_t ="spec"+t;
        spec_true_name1 +=$('#'+spec_t+'').siblings('span').html();
      });
      $('#spec_true_name').text(spec_true_name1);
    }
    if($(".specs_check").length > 0){
      filter_spec = JSON.parse(filter_spec);
      spec_goods_price = JSON.parse(spec_goods_price);
      $.each($(".spec_item"), function(k, v){
        $.each($(v).find(".specs_check"), function(index, el) {
          spec_item_ids.push($(el).val());
          if(k==0){
            usable_items[$(el).val()] = {'usable':1};
          }else{
            usable_items[$(el).val()] = {'usable':0};
          }
        });
      });
    }

    $(".specs_check").on('change', function(){
      $this = $(this);
      spec = JSON.parse(JSON.stringify(filter_spec));

      $.each($(".specs_check:checked"), function(k, v){
        spec_item_id = $(v).val();
        spec[$(v).data('spec_id')]['items'] = [{'item_id':spec_item_id}];
      });
      var sarr = [[]];
      $.each(spec, function(k, v){
        var tarr = [];
        for(var j = 0; j < sarr.length; j++){
          $.each(spec[k]['items'], function(k2, v2){
            tarr.push(sarr[j].concat(spec[k]['items'][k2]['item_id']));
          });
        }
        sarr = tarr;
      });
      var usable_items_new = JSON.parse(JSON.stringify(usable_items));
      len = sarr.length;
      for (var i = 0; i < len; i++) {
        $.each(spec_goods_price, function(k, v){
          if(sarr[i].sort().toString()== k.split('_').sort().toString()){
            len2 = sarr[i].length;
            for (var j = 0; j < len2; j++) {
              usable_items_new[sarr[i][j]] = {'usable':1};
            }
            return false;
          }
        });
      }
      select_spec = get_select_spec();
      var select_spec_str = '';
      $.each(select_spec, function(key, value) {
        select_spec_str += select_spec_str ? '_'+value:value;
      });
      price =def_price;
      if(select_spec_str!=''){
        var select_spec_str_extra =int_string_sort(select_spec_str,'_');
        $.each(spec_goods_price,function(k,v){
          if(select_spec_str_extra == v.key){
            if(seckill_price != 0){
              price = seckill_price;
            }else{
              price = v.shop_price;
            }
            $('#spec_price').html(price);
          }
        });

      }
      no_select_spec = get_no_select_spec();
      // 获取页面全部规格
      all_spec = {};
      $(".spec_item").each(function(k, v) {
        $(v).find('.specs_check').each(function(index, el) {
          spec_el = $(el);
          if(k==0){
            all_spec[spec_el.val()] = {'choosable':true};
          }else{
            all_spec[spec_el.val()] = {'choosable':false};
          }
        });
      });
      exist_spec = [];
      $.each(spec_goods_price, function(key, value) {
        key = key.split('_').sort();
        exist_spec.push(key);
      });
    });

    //收藏
    $('.like').click(function(){
        var check =0;
        if($(this).hasClass('on')){
          check =1;
        }
        changeCollect(check);
    })

    //倒计时
    var endTime = "{$seckill['count_time']?$seckill['count_time']:''}";
    if(endTime){
      setInterval(function(){
        countDown(endTime);
      },1000);
    }
    $('.popup-overlay').on('click',function(){
      $('.spec-wrap').hide();
      $('html,body').css({'height':'','overflow':''});
    });
    //加入购物车
    $("#addtocart").click(function(){
      choose_type = 1;
      if(key){
        var spec_true_name1='';
        var spec_true_name =get_select_spec();
        $.each(spec_true_name,function(m,t){
          var spec_t ="spec"+t;
          spec_true_name1 +=$('#'+spec_t+'').siblings('span').html();
        });
        $('#spec_true_name').text(spec_true_name1);
        add_cart();
      }else {
        $('.spec-wrap').show();
        $('html,body').css({'height': '100%', 'overflow': 'hidden'});
      }
    });

    //立即购买
    $('#pay-now').click(function(){
      choose_type =2;
      if(key){
        var spec_true_name1='';
        var spec_true_name =get_select_spec();
        $.each(spec_true_name,function(m,t){
          var spec_t ="spec"+t;
          spec_true_name1 +=$('#'+spec_t+'').siblings('span').html();
        });
        $('#spec_true_name').text(spec_true_name1);
        $("#goods_key").val(key);
        $("#goods_form").submit();
      }else{
        $('.spec-wrap').show();
        $('html,body').css({'height':'100%','overflow':'hidden'});
      }
   /*   var num = $("input[name='goodsnum']").val();
      var ids = "{$goods_list['id']}";
      var url = "{:U('Shop/Cart/confirm_pay/ids/\"+ids+\"/num/\"+num+\"')}";
      location.href=url;*/
    })
    $('.btn-block').on('click',function(){
        if(!before_submit()){
          return false;
        }
        if(key){
          var spec_true_name1='';
          var spec_true_name =get_select_spec();
          $.each(spec_true_name,function(m,t){
              var spec_t ="spec"+t;
              spec_true_name1 +=$('#'+spec_t+'').siblings('span').html();
          });
          $('#spec_true_name').text(spec_true_name1);
        }
        switch(choose_type){
          case 1:  // 加入购物车
                add_cart();
                break;
          case 2: // 立即购买
              $("#goods_key").val(key);
              $("#goods_form").submit();
              break;
          default :
            $('.spec-wrap').hide();
        }
    });

    $('.spec_show').on('click',function(){
        choose_type =0;
        $('.spec-wrap').show();
    });

    var swiperWidth = $(".detail_ban").width();
    swiperHeight = swiperWidth * (1/1);
    $(".detail_ban").css("height",swiperHeight);
    $(".detail_ban").swiper({
      pagination: '.swiper-pagination',
      paginationType: 'fraction',
      loop: true,
      autoplay: 3000,
      autoplayDisableOnInteraction : false,
    });

    $(".list_goods .item-pic").each(function(){
      var w = $(this).width();
      $(this).css({"height": w});
    });
  });




  function getCurLocation() {

    geolocation.getLocation(showPosition, showErr, options);
  }
  function showPosition(position) {
    var address =position.province + position.city + position.district;
    $('#address').text(address);
  };
  function showErr() {
    positionNum ++;
    getCurLocation();
  };
  function int_string_sort(str, separator)
  {
    var strArr = str.split(separator);//分割成字符串数组
    var intArr = [];//保存转换后的整型字符串
    for (var i = strArr.length - 1; i >= 0; i--) {
      intArr.push(parseInt(strArr[i]));
    }
    return intArr.sort(intSort).join(separator);
  }
  function  get_price(){
    select_spec = get_select_spec();
    var select_spec_str = '';
    $.each(select_spec, function(key, value) {
      select_spec_str += select_spec_str ? '_'+value:value;
    });
    price =def_price;
    if(select_spec_str!=''){
      var select_spec_str_extra =int_string_sort(select_spec_str,'_');
      $.each(JSON.parse(spec_goods_price),function(k,v){
        if(select_spec_str_extra == v.key){
          if(seckill_price != 0){
            price = seckill_price;
          }else{
            price = v.shop_price;
          }
          $('#spec_price').html(price);
        }
      });
    }
  }
  function intSort(a, b) {
    return a - b;
  }

  function  add_cart(){
    var goodsnum = $("input[name='goodsnum']").val();
    var gid = "{$goods_list['id']}";
    var url = "{:U('addToCart')}";
    var stock = {$seckill['stock']-$seckill['seckill_sales']};
    $.ajax({
      url:url,
      type:'POST',
      dataType:'json',
      data:{goodsnum:goodsnum,gid:gid,stock:stock,key:key},
      success:function(data){
        if(data.status==1){
          setTimeout(function(){
            $.toast(data.info, 'text');
            $('.spec-wrap').hide();
            $('html,body').css({'height':'','overflow':''});
            getCartNum(cart_url,1);
          }, 0);
        }else{
          if(data.url){
            // $.confirm("立即登录", function() {
            location.href=data.url;
            // }, function() {});
          }else{
            $.alert(data.info);
          }
        }
      }
    });
  }
  // 获取已选择的规格
  function get_select_spec()
  {
    select_spec = {};
    $(".spec_item .specs_check:checked").each(function(index, el) {
      spec_el = $(el);
      select_spec[spec_el.data('spec_id')] = spec_el.val();
    });
    return select_spec;
  }
  // 没有被选择的规格
  function get_no_select_spec()
  {
    no_select_spec = {};
    $(".spec_item .specs_check:not(:checked)").each(function(index, el) {
      spec_el = $(el);
      if(spec_el.parents('.spec_item').find('.specs_check:checked').length == 0){
        spec_id = spec_el.data('spec_id');
        if(typeof(no_select_spec[spec_id])!='undefined'){
          no_select_spec[spec_id].push(spec_el.val());
        }else{
          no_select_spec[spec_id] = [spec_el.val()];
        }
      }
    });
    return no_select_spec;
  }

  function check_login(){
    if({$uid} == 0){
      Cookies.set('{$Think.const.ENV_PRE}Home_before_reg', '{:get_url()}');
      location.href = '{:U('Home/Member/login')}';
      return false;
    }else{
      return true;
    }
  }

  function before_submit(){

    if (!check_login()) {
      return false;
    }

    var goodsnum = $('[name=goodsnum]').val();
    var maxnum ={$maxnum};

    if(goodsnum<=0){
      goodsnum ='1';
    }
    goodsnum =  goodsnum.replace(/[^\d]/g, '');
    goodsnum =  goodsnum.replace(/^0+/, '');

    $('[name=goodsnum]').val(goodsnum);


    if(!goodsnum.match(/^[0-9]*[1-9][0-9]*$/)){
      $.alert('请输入正确的商品数量');
      return false;
    }

    if(maxnum > 0 && goodsnum>maxnum){
      $.toast('库存不足','text')
      return false;
    }

    key = '';
    $.each($(".specs_check:checked"), function(k, v){
      key = key=='' ? $(v).val() : key+'_'+$(v).val();
    });
    if($(".specs_check").length>0 && key==''){
      $.alert('请选择'+$(".spec_item:first").find(".spec_name").html());
      return false;
    }
    var can_buy = true;
    $.each($(".radio-spec"), function(k, v){
      $this = $(v);
      if($this.find(".specs_check").length>0 && $this.find(".specs_check:checked").length <1){
        $.alert('请选择'+$this.find(".spec_name").html());
        can_buy = false;
        return false;
      }
    });
    if(can_buy==false){
      return false;
    }
    return true;
  }

  //秒杀倒计时
  function countDown(endTime)
  {
    var date = new Date();
    var nowTime = Date.parse(date)/1000;
    countTime = endTime - nowTime;
    if(countTime>0){
      var hours = parseInt(countTime/3600);
      var minutes = parseInt((countTime-hours*3600)/60);
      var seconds = countTime % 60;
    }else{
      var hours = 0;
      var minutes = 0;
      var seconds = 0;
    }

    if(hours<10){
      hours = '0'+hours;
    }
    if(minutes<10){
      minutes = '0'+minutes;
    }
    if(seconds<10){
      seconds = '0'+seconds;
    }
    $(".countdown em").eq(0).html(hours);
    $(".countdown em").eq(1).html(minutes);
    $(".countdown em").eq(2).html(seconds);
  }

  //收藏 ajax
  function changeCollect(check)
  {
    var collect_url = "{:U('Shop/Goods/collect')}";
    var gid = "{$goods_list['id']}";
    $.ajax({
      url:collect_url,
      dataType:'json',
      type:'POST',
      data:{check:check,gid:gid},
      async:false,
      beforeSend:function(){

      },
      success:function(data){
        if(data.status){
          setTimeout(function(){
            $.toast(data.info,"text");
          }, 0);
          if(check){
            $('.like').removeClass('on');
          }else{
            $('.like').addClass('on');
          }
        }else{
          if(data.url){
            // $.confirm("立即登录", function() {
              location.href=data.url;
            // }, function() {
              //点击取消后的回调函数
            // });
          }else{
            $.alert(d.info);
          }
        }
      },
      complete:function(){

      },
      error:function(){

      }

    })
  }
//微信分享
  wx.config({$jsapi});
  wx.ready(function() {
    //alert('{$wechatShare["link"]}');
    //分享到朋友圈
    wx.onMenuShareTimeline({
        title: '{$wechatShare["title"]}',
        link: '{$wechatShare["link"]}',
        imgUrl: '{$wechatShare["imgUrl"]}',
        success: function () {},
        cancel: function () {}
    });
    //分享给朋友
    wx.onMenuShareAppMessage({
        title: '{$wechatShare["title"]}',
        desc: '{$wechatShare["desc"]}',
        link: '{$wechatShare["link"]}',
        imgUrl: '{$wechatShare["imgUrl"]}',
        type: '{$wechatShare["type"]}',
        dataUrl: "",
        success: function () {},
        cancel: function () {}
    });
//            alert('{$wechatShare["title"]}');
    //分享到QQ
    wx.onMenuShareQQ({
        title: '{$wechatShare["title"]}',
        desc: '{$wechatShare["desc"]}',
        link: '{$wechatShare["link"]}',
        imgUrl: '{$wechatShare["imgUrl"]}',
        success: function () {},
        cancel: function () {}
    });
    //分享到腾讯微博
    wx.onMenuShareWeibo({
        title: '{$wechatShare["title"]}',
        desc: '{$wechatShare["desc"]}',
        link: '{$wechatShare["link"]}',
        imgUrl: '{$wechatShare["imgUrl"]}',
        success: function () {},
        cancel: function () {}
    });
  });

</script>
</block>