<extend name="$_home_public_layout"/>
<block name="wrap">
    <section class="main">
        <form>
            <input name="id" value="{$info.id}" type="hidden">
            <ul class="btb bgf last fs14 col3 m-form">
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">标题</span>
                    </label>
                    <div class="table-cell">
                        <input type="text" value="{$info.title}" class="form-unify" name="title" placeholder="4-10字，不能含电话或特殊字符" data-value="请输入标题" >
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">职位名称</span>
                    </label>
                    <div class="table-cell">
                        <input type="text" value="{$info.position}" class="form-unify" name="position" placeholder="4-18字，不能含电话或特殊字符" id="name" data-value="请输入职位名称">
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">性　　别</span>
                    </label>
                    <div class="table-cell">
                        <div class="clearfix ba radio-options ">
                            <label for="sex1" class="opt-label">
                                <input type="radio" class="opt-check" name="sex" value="1" id="sex1" <eq name="info['sex']" value="1">checked</eq>>
                                <span class="opt-checked">男</span>
                            </label>
                            <label for="sex2" class="opt-label">
                                <input type="radio" class="opt-check" name="sex" value="2" id="sex2" <eq name="info['sex']" value="2">checked</eq>>
                                <span class="opt-checked">女</span>
                            </label>
                            <label for="sex3" class="opt-label">
                                <input type="radio" class="opt-check" name="sex" value="3" id="sex3" <eq name="info['sex']" value="3">checked</eq>>
                                <span class="opt-checked">不限</span>
                            </label>
                        </div>
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">学历要求</span>
                    </label>
                    <div class="table-cell arrowR">
                        <input type="text" value="{$info.require}" class="form-unify" name="require" placeholder="请选择" id="opt-degrees"  data-value="请选择您的最高学历">
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">薪资水平</span>
                    </label>
                    <div class="table-cell arrowR">
                        <input type="text" value="{$info.salary}" class="form-unify" name="salary" placeholder="请选择" id="opt-salary" data-value="请输入薪资水平"  >
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">招聘人数</span>
                    </label>
                    <div class="table-cell">
                        <input type="text" value="{$info.num}" class="form-unify" name="num" placeholder="数字填写，不能是0和负数" data-value="请输入招聘人数" >
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">工作年限</span>
                    </label>
                    <div class="table-cell arrowR">
                        <input type="text" class="form-unify"  value="{$info.exprience}" id="opt-experience" name="exprience" placeholder="请选择"  data-value="请输入工作年限">
                    </div>
                   <!-- <div class="table-cell arrowR">
                        <input type="text" value="{$info.exprience}" class="form-unify" name="exprience" placeholder="数字填写，不能是0和负数"  data-value="请输入工作年限">
                    </div>-->
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">工作区域</span>
                    </label>
                    <div class="table-cell arrowR">
                        <input type="text" value="{$info.prov} {$info.city} {$info.country}" class="form-unify"  id="city-picker" name="area" placeholder="请选择" >
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">详细地址</span>
                    </label>
                    <div class="table-cell">
                        <input type="text"  value="{$info.address}" class="form-unify" name="address" placeholder="7-40字的详细地址"  data-value="请输入详细地址">
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell vt m-form-tit">
                        <span class="col_own">职位描述</span>
                    </label>
                    <div class="table-cell vt">
                        <textarea name="description" cols="" rows="5" class="form-unify" placeholder="请简单的描述一下岗位的具体要求..." data-value="请输入岗位要求">{$info.description}</textarea>
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">联系电话</span>
                    </label>
                    <div class="table-cell">
                        <input type="text" value="{$info.telephone}" class="form-unify" name="telephone" placeholder="请输入您的正确联系方式" data-value="请输入联系方式" >
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">联系人</span>
                    </label>
                    <div class="table-cell">
                        <input type="text" value="{$info.contacts}" class="form-unify" name="contacts" placeholder="请输入您的正确联系人姓名"  data-value="请输入联系人">
                    </div>
                </li>
            </ul>

            <div class="p10 fs12 col6">
                <p><em class="mr10 fs14 col3">填写公司信息</em>高质量人才更在意公司信息哦</p>
            </div>

            <ul class="btb bgf last fs14 col3 m-form">
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">公司名称</span>
                    </label>
                    <div class="table-cell">
                        <input type="text" value="{$info.company}"class="form-unify" name="company" placeholder="" data-value="请输入公司名称">
                    </div>
                </li>
                <li class="table plr10 bb">
                    <label for="" class="table-cell m-form-tit">
                        <span class="col_own">公司简介</span>
                    </label>
                    <div class="table-cell">
                        <input type="text"   value="{$info.company_desc}" class="form-unify" name="company_desc" placeholder="" data-value="请输入公司简介">
                    </div>
                </li>
            </ul>

            <ul class="clearfix multi-upload">
                <li class="mt10 mr10 bg_own item-hd">
                    <i class=""></i>
                    <p class="tc fs12 colf">添加照片</p>
                </li>
                <foreach name="info['pics']" item="v">
                    <li class="mt10 mr10 ba br3 upload-img" style="background-image:url('{:getpics($v)} ');">
                        <input type="hidden" name="pics[]" value="{$v}" />
                        <a href="javascript:;" class="br50 upload-close"></a>
                    </li>
                </foreach>
                <li class="mt10 ba br3 upload-file" style="cursor: pointer;">
                    <input type="file" style="visibility: hidden">
                </li>
            </ul>
        </form>
        <div class="btn_submit">
            <button class="bg_own btn-block">确认发布</button>
        </div>

        <script>
            $(function() {
                $("#opt-experience").picker({
                    title: "请选择您的工作年限",
                    cols: [
                        {
                            textAlign: 'center',
                            values: ['不限', '1-3年', '3-5年', '5-8年', '8-10年']
                        }
                    ],
                    onChange: function(p, v, dv) {
                        console.log(p, v, dv);
                    },
                    onClose: function(p, v, d) {
                        console.log("close");
                    }
                });
                $("#opt-salary").picker({
                    title: "请选择您的薪资水平",
                    cols: [
                        {
                            textAlign: 'center',
                            values: ['面谈', '2000以下', '2000-5000', '5000-10000', '10000-15000','15000-25000','25000-50000','50000以上']
                        }
                    ],
                    onChange: function(p, v, dv) {
                        console.log(p, v, dv);
                    },
                    onClose: function(p, v, d) {
                        console.log("close");
                    }
                });
                $("#opt-degrees").picker({
                    title: "请选择您的学历",
                    cols: [
                        {
                            textAlign: 'center',
                            values: ['不限', '初中', '中专','高中','大专', '本科']
                        }
                    ],
                    onChange: function(p, v, dv) {
                        console.log(p, v, dv);
                    },
                    onClose: function(p, v, d) {
                        console.log("close");
                    }
                });
            });
        </script>

    </section>
</block>
<block name="script">
    <script type="text/javascript" src="__HTML_WEUI__/js/city-picker.js" charset="utf-8"></script>
    <script>
        // 验证正整数
        function isInteger(number){
            return number > 0 && String(number).split('.')[1] == undefined
        }
        // 上传图片
        function uploadcard(localIds,num) {
            var localId = localIds.pop();
            wx.uploadImage({
                localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    var serverId = res.serverId; // 返回图片的服务器端ID
                    afterUploadcard(serverId,num);
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }

        //上传图片回调
        function afterUploadcard(serverId,num) {
            $.post("{:U('Home/Weixin/download_img')}", {media_id: serverId}, function (data, textStatus, xhr) {
                if (data.status) {
                    $('.upload-file').before('<li class="mt10 mr10 ba br3 upload-img" style="background-image:url(' + data.src + ');"><input type="hidden" name="pics[]" value="' + data.id + '" /><a href="javascript:;" class="br50 upload-close"></a></li>');
                    if (localIds.length > 0) {
                        uploadcard(localIds);
                    }
                } else {
                    $.alert('上传失败，请重新上传资料');
                }
            }, 'json').error(function () {
                $.alert('错误的数据')
            });
        }
        $(function(){
            // 选择城市
            $("#city-picker").cityPicker({
                title: "请选择工作区域"
            });
            wx.config({$jsapi});
            $(document).on('click','.upload-file',function(){
                wx.chooseImage({
                    count: 9, // 默认9
                    sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                    success: function (res) {
                        localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        uploadcard(localIds,0);
                    }
                });
            });
            $(document).on('click','.upload-close',function(){
                $(this).parent('li').remove();
            });

            // 提交表单
            $('.btn-block').on('click',function(){
                var num =0;
                // 验证必填
                $("input[type='text']").each(function(){
                    var error =$(this).attr("data-value");
                    if($(this).val()==''){
                        num ++;
                        $.toptip(error);
                        $(this).focus();
                        return false;
                    }
                });
                if(num >0){
                    return false;
                }
                var number =$("input[name='num']").val();
                if(!isInteger(number)){
                    $.toptip('招聘人数数据格式填写错误');
                    return false;
                }
                if($("input[name='pics[]']").val()=='' || $("input[name='pics[]']").val()==null){
                    $.toptip('请上传图片');
                    return false;
                }
                $.ajax({
                    url:"{:U('edit')}",
                    type:'post',
                    dataType:'json',
                    data:$('form').serialize(),
                    success:function(data){
                        if(data.status){
                            $.alert(data.info,function(){
                                location.href=data.url;
                            });
                        }else{
                            $.alert(data.info);
                        }
                    },
                    error:function(){

                    }
                })
            });
        })
    </script>
</block>